* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: sans-serif;
  font-weight: bold;
  color: #F0F6FC;
}
body {
  background: #161B22;
}
#main {
  background: #0D1117;
  position: absolute;
  top: 6%;
  bottom: 6%;
  left: 6%;
  right: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 4em;
}
.btn {
  background: #58A6FF;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#btn-start {
  display: flex;
}
#btn-click {
  display: none;
}
#btn-fin {
  display: none;
  cursor: auto;
  user-select: all;
}

#btn-fin img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 33px;
  cursor: pointer;
  transition: .5s;
}
#btn-fin img:hover {
  opacity: .5;
  transition: .5s;
}

#btn-info {
  font-size: .666em;
}
.aside {
  background: #0D1117;
  position: absolute;
  top: 6%;
  bottom: 6%;
  left: 80%;
  right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 1.3em;
  padding: 12px;
}
#timer-input{
  outline: none;
  font-size: 1.5em;
}
#timer-input {
  user-select: all;
  background: #F0F6FC;
  border: none;
  border-radius: 5px;
  color: #0D1117;
  width: 70%;
  height: 2em;
}
