* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: sans-serif;
  font-weight: bold;
  color: #EEE;
}
body {
  background: #161B22;
}
#main {
  background: #010409;
  position: absolute;
  top: 6%;
  bottom: 6%;
  left: 6%;
  right: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 4em;
}
.btn {
  background: #AA0000;
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#btn-start {
  display: flex;
}
#btn-click {
  display: none;
}
#btn-fin {
  display: none;
  cursor: auto;
  user-select: all;
}

#btn-fin img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 33px;
  cursor: pointer;
  transition: .5s;
}
#btn-fin img:hover {
  opacity: .5;
  transition: .5s;
}

#btn-info {
  font-size: .666em;
}
.aside {
  background: #010409;
  position: absolute;
  top: 6%;
  bottom: 6%;
  left: 80%;
  right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 1.5em;
  padding: 12px;
}
#timer-input{
  outline: none;
  font-size: 1.5em;
}
#timer-input {
  color: #000;
  width: 70%;
  height: 2em;
}
